In [13]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 10)
print(pd.__version__)

2.2.2

In [2]:
# Creating a DataFrame
data = {'state':['Ohio','Ohio','Ohio','Nevada','Nevada','Nevada'],
       'year':[2000,2001,2002,2001,2002,2003],
       'taxRate':[1.5,1.7,3.6,2.4,2.9,3.2]}

frame = pd.DataFrame(data)
print(frame)

    state  year  taxRate
0    Ohio  2000      1.5
1    Ohio  2001      1.7
2    Ohio  2002      3.6
3  Nevada  2001      2.4
4  Nevada  2002      2.9
5  Nevada  2003      3.2

In [3]:
frame.state

0      Ohio
1      Ohio
2      Ohio
3    Nevada
4    Nevada
5    Nevada
Name: state, dtype: object

In [6]:
#read from csv
custDF = pd.read_csv(r'/Users/dhrubajyotibiswas/Documents/Training/ML Training/customer.csv', header=None,
                    names=['CustId','FName','LName','Age','Job'])

In [12]:
custDF

       CustId     FName     LName  Age                         Job
0     4000001  Kristina     Chung   55                       Pilot
1     4000002     Paige      Chen   74                     Teacher
2     4000003    Sherri    Melton   34                 Firefighter
3     4000004  Gretchen      Hill   66  Computer hardware engineer
4     4000005     Karen   Puckett   74                      Lawyer
...       ...       ...       ...  ...                         ...
9994  4009995   Rebecca    Dennis   37                     Teacher
9995  4009996     Tonya  McIntosh   56      Engineering technician
9996  4009997       Ron    Grimes   36  Computer hardware engineer
9997  4009998    Tracey   Bullock   60  Computer hardware engineer
9998  4009999       Ray    Hewitt   64                   Carpenter

[9999 rows x 5 columns]

In [18]:
#read from excel
custDFxls = pd.read_excel(r'/Users/dhrubajyotibiswas/Documents/Training/ML Training/Superstore.xls', sheet_name='Orders')
custDFxls

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,...,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,...,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,...,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,...,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,...,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,...,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...
594,595,CA-2014-131450,2014-08-08,2014-08-15,Standard Class,...,Fellowes Superior 10 Outlet Split Surge Protector,76.1200,2,0.00,22.0748
595,596,CA-2014-131450,2014-08-08,2014-08-15,Standard Class,...,Sharp AL-1530CS Digital Copier,1199.9760,3,0.20,434.9913
596,597,CA-2014-131450,2014-08-08,2014-08-15,Standard Class,...,AT&T 1070 Corded Phone,445.9600,5,0.20,55.7450
597,598,CA-2014-131450,2014-08-08,2014-08-15,Standard Class,...,Dana Halogen Swing-Arm Architect Lamp,327.7600,8,0.00,91.7728
598,599,CA-2016-120180,2016-07-14,2016-07-16,First Class,...,Acme Stainless Steel Office Snips,11.6320,2,0.20,1.0178